<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $make = $('#make');
        $model = $('#model');
        $modelOptions = $model.children();

        $make.on('change', function () {
            $makename = $('#make option:selected').val();
      
            $modelOptions.detach();
            $('<option value="all" data-filter="all">All models</option>').appendTo($model);
           
            $modelOptions.filter(function () {
                return $(this).data('filter').indexOf($makename) === 0;
            }).appendTo($model);
            $model.val('');
        });
    });
</script>